* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    height: 100%;
}

.maincontainer {
    position: relative;
    height: 100%;
    min-height: 600px;
    padding-top: 5px;
}

.marker-error {
    background-color: red;
    color: white;
}

.full-screen {
    width: 100%;
    height: 100%;
    min-width: 100%;
    min-height: 100%;
    display: inline-block;
}

.screen-bg {
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: 100%;
    height: available;
    height: -webkit-fill-available;
    height: -moz-available;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: yellowgreen;
}

.login-body {
    position: relative;
    background-size: cover;
    background-position: center center;
    box-sizing: 100%;
}

.login-form__logo {
    background: url('../../assets/tsodev_logo_4.png');
    background-size: 60px;
    background-repeat: no-repeat;
    background-position: center;
    height: 64px;
    bottom: auto;
    right: auto;
    left: auto;
    top: auto;
    position: inherit;
    border-top-right-radius: 0px;
}

.login-form__logo-product {
    margin: 5px 5px 5px 5px;
    color: #f86e00;
    font-size: 24px;
    padding-left: 80px;
}

.login-form__input {
    font-size: 14px;
    width: 100%;
    height: 28px;
    line-height: 28px;
    padding: 0 4px 0 32px;
    border: 1px solid #d9d9d9;
    border-radius: 2px;
    color: #333;
    font-family: OpenSansRegular,OpenSans,Helvetica;
}

.login-form__input:focus,
.login-form__input:hover {
    border: 1px solid #999;
}

.login-form {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 310px;
    margin-right: auto;
    margin-left: auto;
    padding: 15px;
    background: #fff;
    border-radius: 4px;
}

.btn-login:active,
.btn-login:focus,
.btn-login:hover {
    color: #fff;
    background-color: #137d73;
    border-color: rgba(19,125,115,.9);
}

.login-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0;
    width: 100%;
    background: rgba(33,33,33,.8);
    color: #fff;
}

.btn-login {
    width: 100%;
    color: #fff;
    background-color: #00a79d;
    border-color: rgba(0,167,157,.9);
    border-radius: 0px;
}

.login-form__input-row,
.login-form__checkbox-row {
    position: relative;
    width: 100%;
    margin-top: 10px;
}