* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.full-screen {
    width: 100%;
    min-width: 100%;
    min-height: 100%;
    height: available;
    height: -webkit-fill-available;
    height:  -moz-available;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
