
.maincontainer {
  background-color: #16305E;
}

.full-screen {
  width: 100%;
  min-width: 100%;
  min-height: 100%;
  height: available;
  height: -webkit-fill-available;
  height:  -moz-available;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.offer_header {
  top: 10px;
  bottom: 10px;
  height: 200px;
}

.offer_details {
  top: 10px;
  bottom: 10px;
  right: 10px;
  left: 10px;
}

.offer_icon {
  top: 15px;
}

.main_Info {
  top: 10px;
}

